.text-center{
    margin-top: 10px;
    text-align: center;
    font-family: 'Carter One', cursive;
  }
  .flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  .container{
    background: rgb(192, 246, 255);
  }
  .row{
    display: flex;
    justify-content: space-evenly;
    padding: 8px 5px;
    background:lightblue
  
  }
  button{
    
    padding: 4vh 4vw;
    color: #d77585
    margin=4px 4px;
    border: 4px solid #636076;
    border-radius: 4px;
    font-size: 2rem;
    cursor: pointer;
    
  }
  input{width: 40vw;
    border: 2px solid black;
    padding: 2px 5px;
    border-radius:4px;
    font-size: 1.2rem;
    font-family: 'Carter One', cursive;
  }